<!DOCTYPE html>
<html>
<head>
  <title>JquerySliderRails3</title>
  <%= stylesheet_link_tag :all, 'jquery-ui-1.8.custom' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.custom.min', 'rails'%>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
